<!--The content below is only a placeholder and can be replaced.-->
<!--<div id="nav">
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container-fluid">
<div class="navbar-header">
  <span>Cine Raptor</span>
</div>
<div class="collapse navbar-collapse" id="custom-collapse">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown"><a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false"><span class="inline-block"><i style="font-size:18px;width:30px;color: rgba(255,210,135,1);" class="fa fa-film"></i></span><span class="inline-block">Movies</span></a>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0)">Hindi</a></li>
        <li><a href="javascript:void(0)">English</a></li>
        <li><a href="javascript:void(0)">Tamil</a></li>
        <li><a href="javascript:void(0)">Telugu</a></li>
        <li><a href="javascript:void(0)">Bengali</a></li>
      </ul>
    </li>
    <li><a href="javascript:void(0)"><span class="inline-block"><i style="font-size:18px;width:30px;color: rgba(255,195,135,1);" class="fa fa-video-camera"></i></span><span class="inline-block">Trailers</span></a></li>
    <li><a href="javascript:void(0)"><span class="inline-block"><i style="font-size:18px;width:30px;color: rgba(255,180,135,1);" class="fa fa-newspaper-o"></i></span><span class="inline-block">News</span></a></li>
    <li><a href="javascript:void(0)"><span class="inline-block"><i style="font-size:18px;width:30px;color: rgba(255,165,135,1);" class="fa fa-user-circle"></i></span><span class="inline-block">Log in</span></a></li>        <li><a href="contact.php"><span class="inline-block"><i style="font-size:18px;width:30px;color: rgba(255,150,135,1);" class="fa fa-phone-square"></i></span><span class="inline-block">Contact</span></a></li>
  </ul>
</div>
</div>
</nav>
</div>-->

<!-- <router-outlet></router-outlet> -->
<!-- <test-coponent></test-coponent> -->
<app-app-header></app-app-header>

   
<!-- <app-admin></app-admin> -->
<!-- <app-home></app-home> -->
<router-outlet></router-outlet>