<div style="border:1px solid red; padding:10px">Hello this is test Component</div>
<span>TextBox1:</span><input type="text" [(ngModel)]="textvalue" />
<span>TextBox2:</span><input type="text" [(ngModel)]="textvalue" />
<div>{{textvalue}}</div>

<div style="border:1px solid blue; padding: 10px" *ngIf="isDivVisible">
    Loremipsum sndkjahd kajsdkasj lkasjdklasjdklasj, asdjklasjd laksjddlakjiuowe,anahjlk
</div>

<button style="color:black" (click)="toggleClicked()">toggle</button>
<button style="color:black" (click)="showMovielist()">Show Movie List</button>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of movieList">
            <td>{{item.id}}</td>
            <td>{{item.movieName}}</td>
        </tr>
    </tbody>

</table>